@import '@/styles/utilties/variables/variables.scss';

.sideMenuWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.cardWrapper{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  gap: 57px;
  margin-bottom: 31px;
  font-size: 22px;
  &>*{
    margin-top: 18px;
    cursor: pointer;
  }
}

.markSquare{

  width: 68px;
  height: 11px;
  background: $gradient;
  border-radius: 0 0 8px 9px;
  &.chat{
    position: relative;
    top: -76px;
    left: -85px;
    transition: left 0.2s ease-in-out;
  }
  &.scoreboard{
    position: relative;
    top: -76px;
    left: 65px;
    transition: left 0.2s ease-in-out;
  }

}