.trail{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  &:after{
    z-index: -1;
    position: absolute;
    top: 4.3%;
    left: 4.2%;

    display: block;
    content: '';
    background-color: #19172D;
    width: 78px;
    height: 78px;
    border-radius: 50%;
  }
}
