$bg: #19172D;
$component-background: #2A3047;
$gradient: linear-gradient(135deg, #5450DB 0%, #7854D3 100%);

$login-color-splash: #D9D9D9;

$font-color-dark: #CACACD;
$font-color-light: #FFFFFF;

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border: 2px solid #3C3B3B;